
# DOCUMENTATION
doc/

__pycache__/

CMakeFiles/
cmake-build-debug/
*cmake_install.cmake
Makefile
intel64/

### QT
build-*
*.pro.user*



### NB

.dep.inc
private/
*.bash
Package-*.mk
Makefile-*.mk
dist/
build/

## MATLAB CODER
mex/
html/

guispellman/seasoning

# VISUAL STUDIO
x64
ipch/
*.opendb
xspectra-kernel/ClassDiagram.cd
*.aps

libs/WindowsSerialPorts/Debug
libs/WindowsSerialPorts/Release
libs/LinuxSerialPorts/Debug
libs/LinuxSerialPorts/Release

# ECLIPSE
xspectra-kernel/.settings

*.metagen
*.asm
*.Cache
*.resources
*.bin

*.log
*.tlog
*.res
*.pdb
*.idb
*.ilk
*.sdf
*.opensdf
# Rule break for console-test, to mantain relative paths
*.vcxproj.user
*.suo
*.cache
*.exp

# Object files

*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
calib/
mada/mada-board/Debug/
mada/mada-board-dotnet/mada-board-dotnet-tester/bin/
mada/mada-board-dotnet/mada-board-dotnet-tester/obj/
test/OpenCLProject1/output.ppm
*.db
libs/blitz/doc/
test/gui-test/Debug/
test/gui-test/Release/
test/gui-test/GeneratedFiles/
equalization

[Bb]in/
[Oo]bj/
!/lib
*.user
*.suo
_ReSharper.*
*.sln.cache
*.xap
*.vspcc
*.vscc 
*.vssscc
UpgradeLog*
/OpenCV Filters/build/
/OpenCV Filters/dist/
/Filters/build/
/Filters/dist/
/Logger/build/
/Logger/dist/
/Matlab/CoderPlayground/pb_client/build/
/Matlab/CoderPlayground/pb_client/dist/
/OpenCvGaussianModeling/build/
/OpenCvGaussianModeling/dist/
/OpenCvMorphologicalOps/build/
/OpenCvMorphologicalOps/dist/
/cxx/Tbb Playground/build/
/cxx/Tbb Playground/dist/
/cxx/MonteCarlo/build/
/cxx/MonteCarlo/dist/
/cxx/GiantuCalc/build/
/cxx/GiantuCalc/dist/
/cxx/cxx11/parallel_for/build/
/cxx/Tbb Primes/build/
/cxx/Tbb Primes/dist/
/cxx/boost/JsonPropertyTree/build/
/cxx/boost/JsonPropertyTree/dist/
/cxx/boost/Boost Sparse Matrix/build/
/cxx/boost/Boost Sparse Matrix/dist/
/cxx/opencv/dft/build/
/cxx/opencv/dft/dist/
.idea/

