
# DOCUMENTATION
doc/

### QT
build-*
*.pro.user*



### NB

private/
Package-*.mk
Makefile-*.mk

## MATLAB CODER
mex/
html/

guispellman/seasoning

# VISUAL STUDIO
x64
ipch/
*.opendb
xspectra-kernel/ClassDiagram.cd
*.aps

libs/WindowsSerialPorts/Debug
libs/WindowsSerialPorts/Release
libs/LinuxSerialPorts/Debug
libs/LinuxSerialPorts/Release

# ECLIPSE
xspectra-kernel/.settings

*.metagen
*.asm
*.Cache
*.resources
*.bin

*.log
*.tlog
*.res
*.pdb
*.idb
*.ilk
*.sdf
*.opensdf
# Rule break for console-test, to mantain relative paths
*.vcxproj.user
*.suo
*.cache
*.exp

# Object files

*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
calib/
mada/mada-board/Debug/
mada/mada-board-dotnet/mada-board-dotnet-tester/bin/
mada/mada-board-dotnet/mada-board-dotnet-tester/obj/
test/OpenCLProject1/output.ppm
*.db
libs/blitz/doc/
test/gui-test/Debug/
test/gui-test/Release/
test/gui-test/GeneratedFiles/
equalization

[Bb]in/
[Oo]bj/
!/lib
*.user
*.suo
_ReSharper.*
*.sln.cache
*.xap
*.vspcc
*.vscc 
*.vssscc
UpgradeLog*
/OpenCV Filters/build/
/OpenCV Filters/dist/
/PlaygroundOpenCVFilters/build/
/PlaygroundOpenCVFilters/dist/
/PlaygroundBoostLog/build/
/PlaygroundBoostLog/dist/
/Matlab/CoderPlayground/pb_client/build/
/Matlab/CoderPlayground/pb_client/dist/
